*{
	/*outline: 1px solid silver;*/
}
#header{
	min-height: 5em;
}
#sidebar, #catalog{
	/*outline: 1px solid black;*/
}
#sidebar div.card-panel{
	background-color: #D0E4F2;
}
	.pages li{
		display: inline-block;
		border-right: 1px solid black;
		padding:0em 1em;
		padding-right:1.4em; 
	}
	.pages li:last-child{
		border-right: none;
	}
	img{
		margin: 25px;
	}
	.filter-text{
		font-size: 1.5em;
		margin-right: .5em;
	}
.pagination{
	text-align: center;
}