* {
	/*outline: 1px solid;*/
}

	.lightblue {
		background-color: #d0e4f2;
		color: #000;
	}

/*	.topspace {
		padding-top: 6em;
	}
*/

	.registered {
		min-height: 5em;
	}

	.topspace_register {
		padding-top: 1.2em;
	}

	.fixed {
		position: fixed;
	}

	.block {
		display: block;
	}

	table {
		color: black;
	}

		table td i {
			color: black;
		}

	.valigntop {
		vertical-align: top;
	}

	/* label color */
   .input-field label {
		color: black;
	}

	/* label focus color */
	.input-field input[type=text]:focus + label {
		color: black;
	}

	/* label underline focus color */
	.input-field input[type=text]:focus {
		color: black;
		border-bottom: 1px solid black;
		box-shadow: 0 1px 0 0 black;
	}

	/* valid color */
	.input-field input[type=text].valid {
		color: darkgreen;
		border-bottom: 1px solid green darken-4;
		
		box-shadow: 0 1px 0 0 green darken-4;
	}

	/* invalid color */
	.input-field input[type=text].invalid {
		color: purple;
		border-bottom: 1px solid purple lighten-2;
		box-shadow: 0 1px 0 0 purple lighten-2;
	}