

.block{
	display: block;
}

th, td{
	padding: 5px;
}

input[type=text]{
	margin-bottom: 0;
	border-bottom: none;
}

.select-wrapper input.select-dropdown {
	margin-bottom: 0;
	border-bottom: none;
	
}
table{
	margin-bottom: 10px;
}

.statistics{
	min-height: 297px;
}

* {
	/*outline: 1px solid;*/
}

	/* label color */
   .input-field label {
		color: white;
	}

	/* label focus color */
	.input-field input[type=text]:focus + label {
		color: white;
	}

	/* label underline focus color */
	.input-field input[type=text]:focus {
		color: white;
		border-bottom: 1px solid white;
		box-shadow: 0 1px 0 0 white;
	}

	/* valid color */
	.input-field input[type=text].valid {
		color: lightgreen;
		border-bottom: 1px solid green darken-4;
		
		box-shadow: 0 1px 0 0 green darken-4;
	}

	/* invalid color */
	.input-field input[type=text].invalid {
		color: purple;
		border-bottom: 1px solid purple lighten-2;
		box-shadow: 0 1px 0 0 purple lighten-2;
	}
   /* icon prefix focus color */
/*   .input-field .prefix.active {
     color: #000;
   }*/

